.home-title {
    justify-content: center;
    display: flex;
    font-size: 2.5rem;
    padding-top: 15%;
    color: white;
}

@keyframes barrel-roll {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rotated {
    animation: barrel-roll 2.5s ease-out;
}